<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <!--Nhibernate对数据库操作是基于ISession(会话),可以理解为SqlConnection的封装,可通过SessionFactory创建-->
  <session-factory>
    <!--连接提供程序-->
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>

    <!--连接字符串-->
    <property name="connection.connection_string">
      Data Source=.C:\Users\q_122\Dropbox\phd\Courses\SoftwareEngineering\Project\Inventory-CSE-TAMU\WindowsFormsApp1\WindowsFormsApp1\Data\database.db;Version=3
    </property>

    <!--Nhibernate是一个支持多个数据库的Orm框架,然而几乎每个数据库产品都对Sql的实现都有所不同-->
    <!--Nhibernate通过dialect(方言)消除数据库之间的差异-->
    <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>

    <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>

    <property name="show_sql">true</property>

    <property name="hbm2ddl.auto">update</property>

    <property name="current_session_context_class">call</property>

    <property name="proxyfactory.factory_class">
      NHibernate.Bytecode.DefaultProxyFactoryFactory,
      NHibernate
    </property>

    <mapping assembly="InventoryApp"/>

  </session-factory>
</hibernate-configuration>